.custom-header:before {
  background-color: #000000;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-title a,
.site-description {
  color: #ffffff;
}

body.custom-background {
  background-color: #ffffff;
}
