#wp-block-themeisle-blocks-advanced-columns-aab48bf5 {
  padding-top: 20px;
  padding-right: 18px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: auto;
}

#wp-block-themeisle-blocks-advanced-columns-aab48bf5 .wp-themeisle-block-overlay {
  filter: blur(unsetpx) brightness(1) contrast(1) grayscale(unset) hue-rotate(unsetdeg) saturate(1);
}

@media (min-width: 600px) and (max-width: 960px) {
  #wp-block-themeisle-blocks-advanced-columns-aab48bf5 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #wp-block-themeisle-blocks-advanced-columns-aab48bf5 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#wp-block-themeisle-blocks-advanced-column-356ac385 {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-356ac385 {
    flex-basis: 21.4%;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-356ac385 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #wp-block-themeisle-blocks-advanced-column-356ac385 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#wp-block-themeisle-blocks-advanced-column-594f2701 {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-594f2701 {
    flex-basis: 19.44%;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-594f2701 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #wp-block-themeisle-blocks-advanced-column-594f2701 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#wp-block-themeisle-blocks-advanced-column-b5815cc9 {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-b5815cc9 {
    flex-basis: 18.31%;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-b5815cc9 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #wp-block-themeisle-blocks-advanced-column-b5815cc9 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#wp-block-themeisle-blocks-advanced-column-2dc43741 {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-2dc43741 {
    flex-basis: 19.83%;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-2dc43741 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #wp-block-themeisle-blocks-advanced-column-2dc43741 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#wp-block-themeisle-blocks-font-awesome-icons-80a718b1 .wp-block-themeisle-blocks-font-awesome-icons-container {
  color: #000;
  background: #fff;
  border-color: #000;
}

#wp-block-themeisle-blocks-advanced-column-f0a8a2f1 {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-f0a8a2f1 {
    flex-basis: 21.02%;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-f0a8a2f1 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #wp-block-themeisle-blocks-advanced-column-f0a8a2f1 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#wp-block-themeisle-blocks-font-awesome-icons-1d01939a .wp-block-themeisle-blocks-font-awesome-icons-container {
  color: #000;
  border-color: #000;
}

#wp-block-themeisle-blocks-advanced-columns-8951d8d9 {
  padding-top: 20px;
  padding-right: 18px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: auto;
}

#wp-block-themeisle-blocks-advanced-columns-8951d8d9 .wp-themeisle-block-overlay {
  filter: blur(unsetpx) brightness(1) contrast(1) grayscale(unset) hue-rotate(unsetdeg) saturate(1);
}

@media (min-width: 600px) and (max-width: 960px) {
  #wp-block-themeisle-blocks-advanced-columns-8951d8d9 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #wp-block-themeisle-blocks-advanced-columns-8951d8d9 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#wp-block-themeisle-blocks-advanced-column-198e38b5 {
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-198e38b5 {
    flex-basis: 33.33%;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-198e38b5 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #wp-block-themeisle-blocks-advanced-column-198e38b5 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#wp-block-themeisle-blocks-advanced-column-453e7871 {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 18px;
  margin-bottom: -89px;
}

@media (min-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-453e7871 {
    flex-basis: 33.33%;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-453e7871 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #wp-block-themeisle-blocks-advanced-column-453e7871 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#wp-block-themeisle-blocks-advanced-column-bb009826 {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-bb009826 {
    flex-basis: 33.33%;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  #wp-block-themeisle-blocks-advanced-column-bb009826 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #wp-block-themeisle-blocks-advanced-column-bb009826 {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}