@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

* {
	margin: 0;
	padding: 0;
	font-family: century-gothic, sans-serif;
	}

/* --INDEX.HTML DESKTOP CSS--*/

.contenedor {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 230px auto;
	grid-template-rows: 
	100%;
	grid-template-areas: "n m"
	}
	
.header {
	grid-area: h;
	display: none;
	}

.main {
	grid-area: m;	
	margin: 0;
	}

.supercontainer{
	margin-top: 100px;
	width: 70%;
	height: 100%;
	margin-left: 100px;
	}

.gallery {
	position: relative;
	height: 70vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 1vh; 
	}
	
.img1 img{
	min-width: 25%;
	height: 100%;
	width: 100%;
	object-fit: cover;
	}

.blanquito {
	height: 100px;
	width: 100%;
	}

#imagen1 {
	grid-row: 1/4;
	grid-column: 1/5;
	filter: brightness(1) grayscale(1);
	cursor: pointer;
	}

#imagen2 {
	grid-row: 4/5;
	grid-column: 1/3;
	border: 1px solid #eee;
	filter: brightness(1) grayscale(1);
	cursor: pointer;
	}

#imagen4 {
	grid-row: 4/5;
	grid-column: 2/3;
	border: 1px solid #eee;
	filter: brightness(1) grayscale(1);
	cursor: pointer;
	}

#imagen3 {
	grid-row: 4/5;
	grid-column: 3/5;
	border: 1px solid #eee;
	filter: brightness(1), grayscale(1);
	cursor: pointer;
	
}

/*imagen efecto letras*/


.img1 {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center;     
      }

.img1 .fadedbox {
    background-color: #2c2c2c;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
      }

.img1:hover .fadedbox { opacity: 0.8; }

.img1 .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
      }

.img1 .title {
    font-size: 1.2em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    }

.img1:hover .title,
.img1:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
      }

/* fin imagen efecto letras*/

#imagen5 {
	grid-row: 4/5;
	grid-column: 4/5;
	border: 1px solid #eee;
	filter: brightness(1);
	filter: grayscale(1);
	}

#imagen1:hover {
	filter: brightness(1) grayscale(0);
	transition: .1s ease-in;
	}

#imagen2:hover {
	filter: brightness(1) grayscale(0);
	transition: .1s ease-in;
	}

#imagen4:hover {
	filter: brightness(1) grayscale(0);
	transition: .1s ease-in;
	}

#imagen3:hover {
	filter: brightness(1) grayscale(0);
	transition: .1s ease-in;
	}

#imagen5:hover {
	
	filter: grayscale(0);
	}

#imagen3 {
	filter: brightness(1) grayscale(1);
	
	}




.texto-abajo h4{
	margin-top: 15px;
	}

.texto-abajo {
	margin-top: 15px;
	font-size: 13px;
	width: 50%;
	text-align: justify;

	}

.texto-abajo p {
	margin-top: 15px;
	}

.section {
	background-color: blue;
	grid-area: s;
	display: none;
	min-width: 100px;
	}

.nav {
	background-color: white;
	grid-area: n;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	}

.navizq {
	position: fixed;
	left: 75px;
	top: 210px;
	}

.item {
	font-size: 13px;
	list-style-type: none;
	line-height: 30px;
	}

.item a{
	text-decoration: none;
	color: black;
	}

.item a:hover {	
	text-decoration: underline;	
	}

.logo img {
	height: 80px;
	width: 80px;
	position: fixed;
	left: 77px;
	top: 50px;
	cursor: pointer;
	}

.social-iconli {
	list-style-type: none;
	display: inline-flex;
	font-size: 16px;
	color: black;
	padding: 6px;
	}

.social-iconli:hover {
	list-style-type: none;
	display: inline-flex;
	font-size: 16px;
	color: black;
	padding: 6px;
	transform: scale(1.4);
	transition: .2s ease-in;
	}
	
.social-icons {
	position: fixed;
	bottom: 110px;
	left: 65px;
	color: black;
	}

.smalllogo img {
	position: fixed;
	bottom: 50px;
	left: 102px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	}

i {

	color: #212121;
	}

	i:hover {

	color: #000;
	}


/* --barbacue.HTML oher device CSS--*/

@media only screen and (min-width: 1300px) {

.gallery {
	position: relative;
	height: 70vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1vh; 
	}

#imagen1 {
	grid-row: 1/3;
	grid-column: 1/3;
	}

#imagen2 {
	grid-row: 1/2;
	grid-column: 3/5;
	}

#imagen4 {
	grid-row: 1/2;
	grid-column: 4/5;
	filter: brightness(1), grayscale(1);
	}

#imagen3 {
	grid-row: 2/3;
	grid-column: 3/5;
	filter: brightness(1), grayscale(1);
	}

#imagen5 {
	grid-row: 2/3;
	grid-column: 4/5;
	}

.blanquito {
	height: 100px;
	width: 100%;
	}

.texto-abajo {
	margin-top: 15px;
	font-size: 13px;
	width: 50%;
	text-align: justify;
	}

.texto-abajo p{
	margin-top: 15px;
	}

.img1 img{
	min-width: 25%;
	height: 100%;
	width: 100%;
	object-fit: cover;
	}

}

/* --barbacue.HTML MOBILE CSS--*/

@media only screen and (max-width: 925px) {


body {
	overflow-x: hidden;
	}

.contenedor {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 
	30px
	100%;	
	grid-template-areas: "h"
						 "m"								 
	}

.nav {
	display: none;
	}

.header {
	width: 100%;
	position: fixed;
	height: 10vh;
	justify-content: space-between;
	background-color: white;
	display: flex;
	align-items: center;
	z-index: 1;
	}

#logophone {
	height: 60px;
	width: 60px;
	margin-left: 30px;
	margin-top: 7px;
	}

.nav-links li {
	list-style: none;
	}

.nav-links a {
	color: black;
	text-decoration: none;
	font-size: 10px;
	letter-spacing: 1px;
	}

.burguer div{
	width: 30px;
	height: 3px;
	color: black;
	background-color: black;
	margin: 5px;
	}

.nav-links {
	position: fixed;
	display: flex;
	flex-direction: column;
	right: 0;
	height: 90vh;
	top: 10vh;
	width: 50%;
	background-color: white;
	align-items: center;
	justify-content: space-around;
	line-height: 3vh;
	transform: translateX(100%);
	transition: transform 0.5s ease-in;
	}

.burguer {
	cursor: pointer;
	}

.nav-active {
	transform: translateX(0%);
	}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
	}

#instagramfa {
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 16px;
	}

#facebookfa {
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 16px;
	margin-bottom: 50px;
	}

.supercontainer{
	margin-top: 100px;	
	width: 100%;
	height: 100%;
	margin: 0;
	}

.main {
	margin-right: 2vh;
	margin-left: 1vh;
	}

.gallery {
	position: relative;
	height: 100vh;
	width: 100%;	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-gap: 1vh; 
	}

.texto-abajo {
	margin-top: 20px;
	font-size: 13px;
	width: 100%;
	}

.texto-abajo p{
	margin-top: 15px;
	}

#imagen1 {	
	grid-column: 1/5;
	grid-row: 1/4;
	filter: brightness(1) grayscale(0);
	}

#imagen2 {
	grid-column: 1/3;
	grid-row: 4/6;
	filter: brightness(1) grayscale(0);
	border: 1px solid #eee;
	}

#imagen4 {
	grid-column: 3/5;
	grid-row: 4/6;
	filter: brightness(1) grayscale(0);
	border: 1px solid #eee;
	}

#imagen3 {
	grid-column: 3/5;
	grid-row: 6/8;
	filter: brightness(1) grayscale(0);
	border: 1px solid #eee;
	}

#imagen5 {
	grid-column: 1/3;
	grid-row: 6/8;
	filter: brightness(1) grayscale(0);
	border: 1px solid #eee;
	}

.blanquito {
	height: 100px;
	width: 100%;
	}

.img1 img{
	min-width: 25%;
	height: 100%;
	width: 100%;
	object-fit: cover;
	}

.img1 {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center;
    }

.img1 .fadedbox {
	display: none;     
	}

.img1:hover .fadedbox { display: none; }

.img1 .text {
    display: none;
    }
    .img1 .title {
    display: none;
    }
    .img1:hover .title,
    .img1:focus .title {
    display: none;
    }

}




