
/* --contactame.HTML DESKTOP CSS--*/

.main {
	grid-area: m;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#mapa {
	border-radius: 10px;
	height: 400px;
	width: 400px;	
}
.direction {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 20px;
	font-size: 13px;
	height: 400px;
}
.text1 strong {
	font-size: 14px;
}
#imgmapa {
	position: relative;
	width: 400px;	
	height: 400px;
	animation-name: mapaeffect;
	animation-duration: 1s;
}
@keyframes mapaeffect {
	0% {
			
		opacity: 0;
	}

	100% {
		
		opacity: 1
	}
}
.icon1 {
	position: absolute;
	left: 210px;
	top: 165px;
	height: 50px;
	width: 50px;
	animation-name: iconmove;
	animation-duration: .5s;
}
#icon {
	height: 50px;
	width: 50px;
}
 @keyframes iconmove {
    0% {
    	left: 210px;
		top: -300px;
    }
    70% {
    	left: 210px;
		top: 165px;
    }

    85% {
    	left: 210px;
		top: 165px;
    }
	100% {
    	left: 210px;
		top: 165px;
    }
 }
.label-input {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 20px;
	line-height: 30px;
	margin-bottom: 13px;
	width: 220px;
}
.contact-form{
	height: 400px;
}
.name {
	height: 30px;
	text-align: center;
	font-size: 12px;
}
.email{
	height: 30px;
	text-align: center;
	font-size: 12px;
}
.subject {
	height: 30px;
	text-align: center;
	font-size: 12px;
}
textarea {
	height: 140px;
	text-align: center;
	font-size: 12px;
}
button {
	height: 30px;
	cursor: pointer;
	border: 0;
	background-color: black;
	color: white;
	width: 100%;
	font-size: 12px;
	transition: .3s ease-in;
}
button:hover {
	border:1px solid black;
	transition: .3s ease-in;
	background-color: white;
		color: black;
}

/* --contactame.HTML MOBILE CSS--*/

@media only screen and (max-width: 900px) {

.main {
	grid-area: m;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
}
#imgmapa {
	display: none;
	width: 250px;
	height: 250px;
	margin-top: 70px;
	z-index: -1;
}
#mapa {
	display: none;
	border-radius: 0px;
	height: 250px;
	width: 250px;	
	margin-bottom: 50px;
}
.direction {
	height: 200px;
	margin-top: 15vh;
	justify-content: space-around;
	line-height: 30px;
	font-size: 13px;
}
.direction strong{
	margin-top: 10px;
	font-size: 13px
}
.icon1 {
	position: absolute;
	left: 130px;
	top: 90px;
	height: 50px;
	width: 50px;
	animation-name: iconmoves;
	animation-duration: .5s;
}
#icon {
	height: 50px;
	width: 50px;
}
@keyframes iconmoves {
    0% {
    	left: 130px;
		top: -300px;
    }
    70% {
    	left: 130px;
		top: 90px;
    }

    85% {
    	left: 130px;
		top: 90px;
    }
	100% {
    	left: 130px;
		top: 90px;
}

}
.label-input {
	text-align: center;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	line-height: 20px;
	line-height: 30px;
	margin-bottom: 13px;
	width: 100%;
}
.contact-form{
	margin-top: 70px;	
	width: 80%;
	height: 400px;
	bottom: 40px;
	margin-bottom: 50px;
}
.name {
	height: 30px;
	text-align: center;
	font-size: 12px;

}
.email{
	height: 30px;
	text-align: center;
	font-size: 12px;
}
.subject {
	height: 30px;
	text-align: center;
	font-size: 12px;
}
textarea {
	height: 140px;
	text-align: center;
	font-size: 12px;
}
button {
	height: 30px;
	cursor: pointer;
	border: 0;
	background-color: black;
	color: white;
	width: 100%;
	font-size: 12px;
	transition: none;
}
button:hover{
	border:1px solid black;
	transition: none;
	background-color: black;
	color: white;
}
}





