/*PROYECTO DESKTOP VIEW*/
.main {
	height: 100vh;
	margin-top: 100px;
	margin-right: 270px;
	margin-left: 100px;
	grid-area: m;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	grid-column-gap: 70px;
	grid-row-gap: 40px;
	z-index: 0;
}
.main img{
	cursor: pointer;
	position: relative;
	filter: brightness(.9) grayscale(1);
}
.card img{
	width: 100%
}
.card img:hover {
	filter: brightness(1) grayscale(0);
	transition: .1s ease-in;
}
.info {
	margin-top: 20px;
	font-size: 13px;
	text-align: center;
}
.justifytext {
	text-align: justify;
	margin-top: 15px;
}
.onlywhite p{
	height: 100px;
	background-color: white;
}
.underline {
	text-align: center;
	text-decoration: none;
}
.section {
	background-color: blue;
	grid-area: s;
	display: none;
	min-width: 100px;
}
/* -PROYECTO.HTML MOBILE CSS--*/
@media screen and (max-width: 600px) {
.main {
	height: 100vh;
	margin-top: 100px;
	margin-right: 10px;
	margin-left: 10px;
	grid-area: m;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	grid-column-gap: 70px;
	grid-row-gap: 40px;
}
.main img{
	cursor: pointer;
	position: relative;
	filter: brightness(1) grayscale(0);	
}
.card img:hover {
	filter: brightness(1) grayscale(0);
	transition: none;

}
}



