@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

* {
	margin: 0;
	padding: 0;
	font-family: century-gothic, sans-serif;
	}

/* --INDEX.HTML DESKTOP CSS--*/

.contenedor {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 230px auto;
	grid-template-rows: 
	100vh;
	grid-template-areas: "n m"
		}
	
.header {
	grid-area: h;
	display: none;
	}

.main {
	grid-area: m;


	}

.imgbk {

	
	background-image: url(../img/barbacue.jpg);
	background-size: cover;
	background-position: center, center;
	position: absolute;
	left: 230px;
	top: 0;
	right: 0;
	bottom: 30px;
    height: 100vh;  
	}


.section {
	background-color: blue;
	grid-area: s;
	display: none;
	min-width: 100px;
	}

.nav {

	background-color: white;
	grid-area: n;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	
	}


.navizq {
	
	position: absolute;
	left: 75px;
	top: 250px;
	}

.item {
	font-size: 13px;
	list-style-type: none;
	line-height: 30px;

	}


.item a{
	text-decoration: none;
	color: black;
	}

.item a:hover {
	
	text-decoration: underline;	
	
}

	

.logo img {
	height: 80px;
	width: 80px;
	
	position: absolute;
	left: 77px;
	top: 50px;
	cursor: pointer;

	}

.social-iconli {
	list-style-type: none;
	display: inline-flex;
	font-size: 16px;
	color: black;
	padding: 6px;

	}

.social-icons {

	position: absolute;
	bottom: 150px;
	left: 60px;
	color: black;

	}

.smalllogo img {

	position: absolute;
	bottom: 50px;
	left: 102px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	}

i {

	color: black;
	}



/* --INDEX.HTML MOBILE CSS--*/



@media only screen and (max-width: 600px) {

body {
	overflow-x: hidden;
	}

.contenedor {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: auto 140px;
	grid-template-rows: 
	70px
	auto
	50px;
	grid-template-areas: "h h"
						 "m m"
						 "m m"
						 
	}

.imgbk {

	content: "";
	background-image: url(../img/barbacue.jpg);
	background-size: cover;
	background-position: center center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
    height: 100vh;
    visibility: visible;
    z-index: -1;
	
	}

.main {
	grid-area: m;
	display: flex;
	}

.nav {
	display: none;
	}

.header {

	height: 10vh;
	justify-content: space-between;
	background-color: white;
	display: flex;
	align-items: center;

	}

#logophone {

	height: 60px;
	width: 60px;
	margin-left: 30px;
	margin-top: 7px;
	}

.nav-links li {
	list-style: none;
	}

.nav-links a {
	color: black;
	text-decoration: none;
	font-size: 10px;
	letter-spacing: 1px;


	}

.burguer div{
	width: 30px;
	height: 3px;
	color: black;
	background-color: black;
	margin: 5px;
	margin-right: 20px;
	
	}

.nav-links {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	height: 90vh;
	top: 10vh;
	width: 50%;
	background-color: white;
	align-items: center;
	justify-content: center;
	line-height: 8vh;
	transform: translateX(100%);
	transition: transform 0.5s ease-in;
	}

.burguer {
	cursor: pointer;
	}

.nav-active {
	transform: translateX(0%);
	}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
	}

#instagramfa {
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 20px;
	}


}



